.main{
  display: inline-flex;
  width: 79%;
  height: 90%;
  margin: auto;
  flex-wrap: wrap;
  overflow: scroll;
  background: #f3f5ea;
  border-top: 0.1vw solid #afb2b9;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}